 <img src="{{ url_for('static',filename='banner.jpg') }}">
<div>
    <a href="https://plot.ly/~dianenava/9/?share_key=0YL48uUFUKsc6PLa8kSoqU" target="_blank" title="Machine 2" style="display: block; text-align: center;"><img src="https://plot.ly/~dianenava/9.png?share_key=0YL48uUFUKsc6PLa8kSoqU" alt="Machine 2" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="dianenava:9" sharekey-plotly="0YL48uUFUKsc6PLa8kSoqU" src="https://plot.ly/embed.js" async></script>
</div>
