 <img src="{{ url_for('static',filename='banner.jpg') }}">
<div>
    <a href="https://plot.ly/~dianenava/11/?share_key=ptC12eaIRpnivZeTI8A5Dr" target="_blank" title="final machine 5" style="display: block; text-align: center;"><img src="https://plot.ly/~dianenava/11.png?share_key=ptC12eaIRpnivZeTI8A5Dr" alt="final machine 5" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="dianenava:11" sharekey-plotly="ptC12eaIRpnivZeTI8A5Dr" src="https://plot.ly/embed.js" async></script>
</div>
